# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Checkout submodule
      run: git submodule update --init
    - name: Setting up environment
      run: alias copy="cp"
    - name: Restore dependencies
      run: dotnet restore
      working-directory: /home/runner/work/luna/luna/luna
    - name: Build
      run: dotnet build --no-restore
      working-directory: /home/runner/work/luna/luna/luna
    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: /home/runner/work/luna/luna/luna
